
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
    }
    body {
      font-family: Arial, sans-serif;
      font-size: 20px;
    }
    html{
      scroll-behavior: smooth;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      background: rgb(255, 255, 255);
      padding: 10px 20px;
      position: relative;
      box-shadow:  0 0 10px;
    }
    .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      transition: height 0.3s ease, opacity 0.3s ease;
      font-weight: 600;
    }
    .menu li {
      margin: 0 20px;
    }
    .menu li a {
      text-decoration: none;
      font-size: 18px;
      white-space: nowrap;
      color: black;
      padding: 5px 0.5vw;
    }
    .menu li a:hover {
      transition: 0.7s;
      box-shadow: 0 0 5px;
      border-radius:10px ;
    }
    .menu-toggle {
      display: none;
      font-size: 24px;
      color: black;
      cursor: pointer;
    }
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #000000;
      text-decoration: none;
    }
    .responsive-logo {
      display: none;
    }
    .i-carrito{
        font-size: 25px;
        color: white;
        text-decoration: none;
        box-shadow: 0 0 5px black;
        border-radius: 20px;
        padding: 7px 2vw;
    }
    #categoria{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 10px 0;
       background: rgba(208, 208, 208, 0.223);
       box-shadow: 0 0 10px black;
    }
    #categoria li a {
       text-decoration: none;
       color: black;
       font-size: 18px;
       padding: 5px 15px; 
     }
     #categoria li a:hover {
      transition: 0.8s;
      border-radius:10px ;
      box-shadow: 0 0 5px;
    }
    .banner{
        height: 70vh;
        background:linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.327)), url(../img/fondoinicio.jpg) no-repeat; 
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        text-shadow: 0 0 10px black;
        text-align: center;
        font-size: 30px;
    }
    .nar{
      color: #BB4F06;
    }
     .textmenu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #cbcbcb64;
    }
    .ods{
      max-width:800px;
      margin:20px ;
      text-align: center;
      height: 40px;
      font-size: 20px;
    }
    #boton{
      padding: 5px 20px;
      box-shadow: 0 0 5px;
      border-radius:5px ;
      color: black;
      font-size: 20px;
      text-decoration: none;
      margin:20px ;
    }

    .t-1{
      text-align: center;
      padding: 10px;
    }
    .sec1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

      }
    .sec1 div h2{
      text-align: center;
      
     }
    .sec1 div{
      display: flex;
      justify-content: center;
      align-items: center;
      width:600px;
      text-align:start;
      flex-direction: column;
  }

  .t-2{
    text-align: center;
    padding: 10px;
  }
  .sec2{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
  .sec2 div h2{
    text-align: center;
   }
  .sec2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    text-align:start;
    flex-direction: column;
}


.t-3{
  text-align: center;
  padding: 10px;
}
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
  }
.sec3 div h2{
  text-align: center;
 }
.sec3 div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:600px;
  text-align:start;
  flex-direction: column;
}


#carrusel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  flex-direction: column; /* Disposición vertical */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.slide img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Estilo de los botones */
.nav-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 24px;
}
.prev {
  left: 20px;  /* Separado del borde izquierdo */
}

.next {
  right: 20px;  /* Separado del borde derecho */
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#message {
  display: none;
  background-color: #f0f8ff;
  border: 1px solid #0078d4;
  color: #0078d4;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}

/*calendario*/
.calendario {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px;
}

.calendario h3 {
  text-align: center;
   font-size: 33px;
}

.calendar {
  background: transparent;
  width: 80%;
  max-width: 600px;
  margin:auto;
  padding: 1.15em 0;
}

.calendar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.calendar__prev,
.calendar__next {
  color: rgb(255, 166, 0);
  cursor: pointer;
  font-size: 1.3em;
}

.calendar__prev {
  margin-right: auto;
}

.calendar__next {
  margin-left: auto;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  text-align: center;
  padding: 5px;
}

.calendar__month,
.calendar__year {
  padding: .5em 1em;
}

.calendar__item {
  text-align: center;
  line-height: 2;
}

.calendar__today {
  background: lightcoral;
  width: 50%;
  border-radius: 50%;
  margin: auto;
}

.calendar__last-days {
  opacity: .3;
}

/*Para los dias festivos*/
.calendar__holiday {
  background-color: rgb(255, 166, 0);
  color: black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.calendar__holiday:hover::after {
  content: attr(title);
  position: absolute;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

/*LINEA DE TIEMPO*/

.cuerpo-lt{
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #f18c1f;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background:#541807;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #295C6A;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  color: rgb(255, 255, 255);
  
  background: black;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
footer{
  background: #5353532d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}
footer li a{
  list-style: none;
  text-decoration: none;
  padding: 5px 15px;
  color: #000000;
}
footer li :hover{
  text-decoration: underline 2px;
}

@media (max-width: 900px) {
  #categoria{
      display:none;
   }
}


    @media (max-width: 850px) {
      .calendar__info {
        font-size: 1em;;
      }
      .calendario h3 {
       font-size: 23px;
      }
      .calendar__week{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;
        text-align: center; 
        font-size: 12px;
      }
      .menu-toggle {
        display: block;
      }
      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        overflow: hidden;
        height: 0;
        opacity: 0;
      }
      .menu li {
        margin:5px;
      }
      .menu.active {
        height: 200px; /* Ajusta según el contenido del menú */
        opacity: 1;
      }
      .logo {
        display: none;
      }
      .responsive-logo {
        display: block;
        position: absolute;
        top: 15px;
        right: 45vw;
      }
      .banner{
        height: 30vh;
        font-size: 20px;
    }
    .ods{
      height: 100px;
    }
    .sec1{
      flex-direction: column;
    }
    .sec1 div{
      width:300px;
      text-align: center;
      padding: 0 ;
  }

  .sec2{
    flex-direction: column;
  }
  .sec2 div{
    width:300px;
    text-align: center;
    padding: 0 ;
}

.sec3{
  flex-direction: column;
}
.sec3 div{
  width:300px;
  text-align: center;
  padding: 0 ;
}
    footer li a img{
      padding: 5px 0px;
    }
    .timeline {
      width: 100%;
     padding: 4em 0 1em 0;
   }
   
   .timeline li {
     padding: 2em 0;
   }
   
   .direction-l,
   .direction-r {
     float: none;
     width: 100%;
   
     text-align: center;
   }
   
   .flag-wrapper {
     text-align: center;
   }
   
   .flag {
     z-index: 15;
   }
   
   .direction-l .flag:before,
   .direction-r .flag:before {
     position: absolute;
     top: -30px;
     left: 50%;
     content: ' ';
     display: block;
     width: 12px;
     height: 12px;
     margin-left: -9px;
     background: #fff;
     border-radius: 10px;
     border: 4px solid rgb(255,80,80);
     z-index: 10;
   }
   
   .direction-l .flag:after,
   .direction-r .flag:after {
     content: "";
     position: absolute;
     left: 50%;
     top: -8px;
     height: 0;
     width: 0;
     margin-left: -8px;
     border: solid transparent;
     border-bottom-color: rgb(255, 255, 255);
     border-width: 8px;
     pointer-events: none;
   }
   
   .time-wrapper {
     display: block;
     position: relative;
     margin: 4px 0 0 0;
     z-index: 14;
   }
   
   .direction-l .time-wrapper {
     float: none;
   }
   
   .direction-r .time-wrapper {
     float: none;
   }
   
   .desc {
     position: relative;
     margin: 1em 0 0 0;
     padding: 1em;
   
     -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
     -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
     box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
     
     z-index: 15;
   }
   
   .direction-l .desc,
   .direction-r .desc {
     position: relative;
     margin: 1em 1em 0 1em;
     padding: 1em;
     z-index: 15;
   }
   .ruleta{
     margin: 0;
   }

   .timeline:before {
    background: rgba(0, 0, 0, 0.22);
    
  }
    }

/*funcion estatica1 css*/
.regreso {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 90vw;
  padding-bottom: 1vw;
}

#estatico {
  border: none;
  box-shadow: 0 0 5px;
  padding: 0.5vw 1vw;
  background-color: #00000007;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  border-radius: 5px;
  cursor: pointer;
}
#estatico:hover {
  box-shadow: 0 0 10px;
  background:  #00000026;
  transition: 0.8s;
}
