
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  html{
    scroll-behavior: smooth;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    position: relative;
    box-shadow:  0 0 10px;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: height 0.3s ease, opacity 0.3s ease;
    font-weight: 600;
  }
  .menu li {
    margin: 0 20px;
  }
  .menu li a {
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
    color: black;
    padding: 5px 0.5vw;
  }
  .menu li a:hover {
    transition: 0.7s;
    box-shadow: 0 0 5px;
    border-radius:10px ;
  }
  .menu-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  .responsive-logo {
    display: none;
  }
  .i-carrito{
      font-size: 25px;
      color: white;
      text-decoration: none;
      box-shadow: 0 0 5px black;
      border-radius: 20px;
      padding: 7px 2vw;
  }
  #categoria{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 0;
     background: rgba(208, 208, 208, 0.223);
     box-shadow: 0 0 10px black;
  }
  #categoria li a {
     text-decoration: none;
     color: black;
     font-size: 18px;
     padding: 5px 15px; 
   }
   #categoria li a:hover {
    transition: 0.8s;
    border-radius:10px ;
    box-shadow: 0 0 5px;
  }
  .banner{
      height: 70vh;
      background:linear-gradient(rgba(0, 0, 0, 0.373), rgba(0, 0, 0, 0.327)), url(../img/fondoinicio.jpg) no-repeat; 
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 600;
      text-shadow: 0 0 10px black;
      text-align: center;
      font-size: 30px;
  }
  .nar{
    color: #BB4F06;
  }
   .textmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #cbcbcb64;
  }
  .ods{
    max-width:800px;
    margin:20px ;
    text-align: center;
    height: 40px;
    font-size: 20px;
  }
  #boton{
    padding: 5px 20px;
    box-shadow: 0 0 5px;
    border-radius:5px ;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin:20px ;
  }

  .sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
.sec1 div h2{
  text-align: center;
  
 }
.sec1 div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:600px;
  text-align:start;
  flex-direction: column;
}
.sec1img {
    width: 100%;
    border-radius: 5%; /* Bordes redondeados */
    box-shadow: 0 0 15px rgb(255, 255, 255); /* Difuminado blanco alrededor */
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


    /* Estilos para el carrito */
    #carrito-section {
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

  
      .btn-cancelar {
        background-color: #f00;
        color: #fff;
        margin-left: 10px;
        margin-bottom:12px ;
        padding: 10px 33px;
      }
  
      .btn-comprar {
        background-color: #FF6600;
        color: #fff;
        margin-left: 10px;
        padding: 10px 15px;
      }

      #carrito-list li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }
      #carrito-section h3{
          margin: 10px 0;
      }

      
    #contador-carrito {
        background-color: #f00;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 50%;
        margin-left: 5px;
      }
      .titlesection{
        text-align: center;
        padding: 20px 0;
          }
      /* Estilos para el producto */
      .producto-section {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
      }
  
      .producto-section h2 {
        color: #FF6600;
        font-size: 28px;
        margin-bottom: 10px;
      }
  
      .producto-section h3 {
        color: #000000;
        font-size: 22px;
        margin-bottom: 20px;
      }
  
      .producto-card {
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        max-width: 400px;
        margin: 10px auto;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
  
      .producto-img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
      }
  
      .producto-card p {
        font-size: 16px;
        color: #000000;
        margin-bottom: 15px;
      }
  
      .btn-add {
        padding: 10px 20px;
        background-color:  #FF6600;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
  
      .btn-add:hover {
        background-color:  #FF6600;
      }
  


      /* Estilos generales para el formulario */
.formulariodecompra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 1500px;
    margin: 0 auto;
}

/* Estilos para las etiquetas y los campos de entrada */
label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}
#form{
  width: 600px;
}

input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilos para el botón */
#compra{
    background-color: #FF6600; /* Color del botón */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00; /* Color al pasar el mouse */
}


.mer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.mer1 {
    padding: 20px ; 
    width: 360px;
    border-radius: 30px;
}

footer{
    background: #5353532d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
  }
  footer li a{
    list-style: none;
    text-decoration: none;
    padding: 5px 15px;
    color: #000000;
  }
  footer li :hover{
    text-decoration: underline 2px;
  }
  

  @media (max-width: 906px) {
    #categoria{
        display:none;
     }
  }
  
  
      @media (max-width: 850px) {
        .calendar__info {
          font-size: 1em;;
        }
        .calendario h3 {
         font-size: 23px;
        }
        .calendar__week{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 10px;
          text-align: center; 
          font-size: 12px;
        }
        .menu-toggle {
          display: block;
        }
        .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          background-color: #ffffff;
          overflow: hidden;
          height: 0;
          opacity: 0;
        }
        .menu li {
          margin:5px;
        }
        .menu.active {
          height: 200px; /* Ajusta según el contenido del menú */
          opacity: 1;
        }
        .logo {
          display: none;
        }
        .responsive-logo {
          display: block;
          position: absolute;
          top: 15px;
          right: 45vw;
        }
        .banner{
          height: 30vh;
          font-size: 20px;
      }
      .ods{
        height: 100px;
      }
      .sec1{
        flex-direction: column;
      }
      .sec1 div{
        width:300px;
        text-align: center;
        padding: 0 ;
    }
    #form{
      width: 400px;
    }
    .mer div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .mer1 {
    width: 460px;
  }
  
}



@media (max-width: 1116px) {
  .mer1 {
    padding: 20px ; 
    width: 260px;
    border-radius: 30px;
  }
}
